body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Code for striking through the tasks that are done*/
.strikeThrough{
    text-decoration: line-through;
}

.pswdInstructions{
    font-size: smaller;
    color: darkgray;
}

html,body{
    font-family: "Lato", "Helvetica Neue", "Helvetica", Sans-Serif;
	-webkit-font-smoothing: antialiased;
}


.navbar {
    background: #024382 !important;
    border-bottom: none;
}

.navbar-inverse .navbar-brand {
    color: #fff !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

.navbar-toggle{
    color: #fff;
}

.body-content {
    background-color: #fff;
    height: 100%;
}

/*body {
    padding-top: 50px !important;
    padding-bottom: 80px !important;
    margin: 0 !important;
}*/

html, body {
    top: 0px;
    bottom: 0px;
    height: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 8 140px;
    min-height: 100%;
    position: relative;
    z-index: 1;
}

.body-content {
    flex-grow: 8 !important;
}

#icon{
    width: 35px;
	height: 35px;
	float:left;
    margin-top: 8px;
	margin-right: 3px;
    margin-left: 10px;
    display:flex;
}

.navbar-brand{
    float:left;
	font-family: Comic Sans MS, Comic Sans, serif;
}

#registerForm{
    background: #e6e6e6;
    border-radius: 30px;
    margin-top: 15px;
    padding:5px 30px;
    flex-grow: 0.2;
}

#registerForm h3,
.loginForm h3 {
    color: #024382;
}

#registerForm hr,
.loginForm hr {
    margin-top: 0px !important;
    border-width: 2px;
}

#registerForm .form-horizontal,
.loginForm .form-horizontal{
    padding-left: 25px;
}

#registerForm .btn,
.loginForm .btn{
    background-color: #024382;
    color: #fff;
    padding-left: 10px;
}

.loginForm{
    background: #e6e6e6;
    border-radius: 30px;
    margin-top: 50px;
    padding: 10px 30px;
    flex-grow: 0.2;
}


